.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/ 
*.py[cod] 
*.pyc
*$py.class

images/
egohands/
hand_labels/
video*/
temp/
output/
dataset/test
ssd_annotations/
yolo_annotations/
test_annotations/
voc_annotations/
models-master/
validation/
venv/

*.mp4
*.mov
*.mat
*.tar.gz
*.zip

checkpoint
*.pb
*.index
*.meta
*.data*
*.weights
events.out.tfevents.*