.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/ 
*.py[cod] 
*.pyc
*$py.class

images/
egohands/
videos/
output/
ssd_annotations/
yolo_annotations/
models-master/
venv/

*.mp4
*.mov
*.mat
*.tar.gz
*.zip

checkpoint
*.pb
*.index
*.meta
*.data*
*.weights
events.out.tfevents.*